extends layout

block content
  div.content
    h1= data.title
    p= 'Support level: ' + helper.generateSupportString(data.core_support)
    p= data.description

    if data.tests.length > 1
      table
        caption Test Overview
        tr
          th Test
          th Support
        each test, index in data.tests
            tr
              td
                a(href='#'+test.id) #{test.title}
              td= helper.generateSupportString(test.core_support)

    h2 Summary of tests
    each test, index in data.tests
      a(href='/tech/' + techId + '/' + featureId + '/' + index)
        h3(id=test.id)= test.title
      p= 'Support level: ' + helper.generateSupportString(test.core_support)
      p= test.description
      table
        caption #{test.title} Support (for core combinations)
        tr
          th AT
          th Browser
          th Support
        each at in helper.core_at
          each browser in helper.at[at].core_browsers
            tr
              td= helper.at[at].title
                if test.at[at].browsers[browser].at_version
                    span= ' ' + test.at[at].browsers[browser].at_version
              td= helper.browsers[browser].title
                if (test.at[at].browsers[browser].browser_version)
                    span= ' ' + test.at[at].browsers[browser].browser_version
              td(class='support-case '+test.at[at].browsers[browser].support)= test.at[at].browsers[browser].support
      a(href='/tech/' + techId + '/' + featureId + '/' + index) Learn more about the #{test.title} test
  if data.references
    div.sidebar
      h2 Is something not right?
      p Please open an issue if you find anything that is wrong or incomplete.
      h2 References
      ul
        each reference in data.references
          li
            a(href=reference.url) #{reference.title}
