extends layout
include test-case/assertion

block content
  div.content-wrapper
    div.content
      h1= data.title + ' (' + data.techId + ')'
      div(class="current-support-container "+data.core_support_string.replace(" ", "-"))
        p= 'Support level: ' + data.core_support_string
      p!= md.render(data.description)

      if data.recommendation
        p= "Recommendation: " + data.recommendation

      h2 Assertions
      if data.assertions.length > 0
        each assertion, index in data.assertions
          h3(id='support-table-'+index) #{assertion.title}

          //TODO: add assertions.tests mapping and check to verify that the there are tests for the assertion before rendering the table.s

          p This assertion is referenced by {x} tests.

          table(aria-labelledby='support-table-' + index)
            tr
              th AT
              th Browser
              th Support
            each at in ATBrowsers.core_at
              each browser in ATBrowsers.at[at].core_browsers
                tr
                  td= ATBrowsers.at[at].title
                  td= ATBrowsers.browsers[browser].title
                  td(class='support-case ' + assertion.core_support_by_at_browser[at][browser].string.replace(" ", "-"))= assertion.core_support_by_at_browser[at][browser].string
      else
        p No assertions have been created for this feature yet

    if data.references
      div.sidebar
        if data.related_issues && data.related_issues.length
          h2 Related AT or browser issues
          ul
            each link in data.related_issues
              li
                a(href=link.url) #{link.title}

        h2 Is something not right?
        p We use our #[a(href="https://github.com/accessibilitysupported/accessibilitysupported") GitHub repository] to manage our issue tracking. Please provide as much information as you can for issues, and please leave the id in the issue title intact.
        a(href="https://github.com/accessibilitysupported/accessibilitysupported/issues/new?title="+data.id+"&labels=tech%20feature") Create an issue for this feature

        h2 References
        ul
          each reference in data.references
            li
              a(href=reference.url) #{reference.title}
