extends layout

block content
  div.content
    div.call-out
      p This a community driven effort. Please <a href="/run-tests">run some tests</a> to help keep this project going and to learn about assistive technologies along the way.
    div.search-container
      div.live-announcements(aria-live="polite" aria-atomic="true").visually-hidden
      div.search-controls
        form
          div.input
            label(for="feature-search") Find support for a feature (search by element or attribute, for example &quot;aria&quot;)
            input(id="feature-search" type="text").search
          div.submit
            button Search
      div.summary-container(tabindex="-1")
          span #{features.length} results found
      div.search-results
          each feature in features
            div(data-keywords=feature.keywords_string).result
              h2
                a(href='/tech/'+feature.techId + '/' + feature.id) #{feature.title} (#{feature.techId})
              div.responsive-table.support-summary-table
                table
                  caption Screen Reader support
                  thead
                    tr
                      each at_id in ATBrowsers.core_at
                        if ATBrowsers.at[at_id].type !== "sr"
                          - continue
                        th #{ATBrowsers.at[at_id].short_title}
                  tbody
                    tr
                      each at_id in ATBrowsers.core_at
                        if ATBrowsers.at[at_id].type !== "sr"
                          - continue
                        td(class=feature.core_support_by_at[at_id].string.class) #{feature.core_support_by_at[at_id].string.string}
              div.responsive-table.support-summary-table
                table
                  caption Voice Control support
                  thead
                    tr
                      each at_id in ATBrowsers.core_at
                        if ATBrowsers.at[at_id].type !== "vc"
                          - continue
                        th #{ATBrowsers.at[at_id].short_title}
                  tbody
                    tr
                      each at_id in ATBrowsers.core_at
                        if ATBrowsers.at[at_id].type !== "vc"
                          - continue
                        td(class=feature.core_support_by_at[at_id].string.class) #{feature.core_support_by_at[at_id].string.string}
              p Supported by #{feature.total_test_count} tests.
              if feature.core_support.includes('u')
                p We are missing data on some combinations.
      script(src="/js/search.js")
