extends layout

block content
    div.content
        h1= 'Test: ' + test.title
        div(class="current-support-container "+test.core_support_string.replace(" ", "-"))
            p= 'Current support: ' + test.core_support_string
        p= test.description
        p This test is found in the following features:

        ul
            each featureInfo in features
                li
                    a(href="/tech/"+featureInfo.techId+'/'+featureInfo.featureId) #{featureInfo.title}

        h2 On this page
        ul
            li
                a(href="#run-test") Run the test
            li
                a(href="#support-tables") Support tables
            li
                a(href="#history") History

        h2(id="run-test") Run the test
        h3 Test HTML
        pre
            code= testHTML
        a(href='/tests/' + test.id + '.html') Open test HTML to run the test

        if (test.sr_instructions)
            h3 Screen Reader Instructions
            p= test.sr_instructions

        if (test.vc_instructions)
            h3 Voice Command Instructions
            p= test.vc_instructions

        h2(id="support-tables") Support tables
        table
            caption core support
            tr
                th AT
                th Browser
                th Support
                th Action
            each at in ATBrowsers.core_at
                each browser in ATBrowsers.at[at].core_browsers
                    tr
                        td= ATBrowsers.at[at].title
                            if test.at[at].browsers[browser].at_version
                                span= ' ' + test.at[at].browsers[browser].at_version
                        td= ATBrowsers.browsers[browser].title
                            if test.at[at].browsers[browser].browser_version
                                span= ' ' + test.at[at].browsers[browser].browser_version
                        td(class='support-case '+test.at[at].browsers[browser].support)= test.at[at].browsers[browser].support
                        td
                            a(href="/tests/"+test.id+"/"+at+"/"+browser) More information
        br
        table
            caption extended support (less common combinations)
            tr
                th AT
                th Browser
                th Support
                th Action
            each at in ATBrowsers.at
                - var browsers = at.extended_browsers
                if ATBrowsers.extended_at.includes(at.id)
                    - var browsers = browsers.concat(at.core_browsers)
                each browser in browsers
                    tr
                        td= at.title
                            if test.at[at.id].browsers[browser].at_version
                                span= ' ' + test.at[at.id].browsers[browser].at_version
                        td= ATBrowsers.browsers[browser].title
                            if test.at[at.id].browsers[browser].browser_version
                                span= ' ' + test.at[at.id].browsers[browser].browser_version
                        td= test.at[at.id].browsers[browser].support
                        td
                            a(href="/tests/" + test.id + "/" + at.id + "/" + browser) More information
        h2(id="history") History
        ul
            each record in test.history
                li
                    strong= record.date + ' '
                    span= record.message

    div.sidebar
        h2 Is something not right?
        p We use our #[a(href="https://github.com/accessibilitysupported/accessibilitysupported") GitHub repository] to manage our issue tracking. Please provide as much information as you can for issues, and please leave the id in the issue title intact.

        ul
            li
                a(href='https://github.com/accessibilitysupported/accessibilitysupported/issues/new?title='+test.id+'&labels=test%20case') There is a problem with this test case (the test file, procedure, expected results, etc)
            li
                p Use the support tables to view details and report issues or changes.
