extends layout

block content
    div.content
        div.search-container
            div.live-announcements(aria-live="polite" aria-atomic="true").visually-hidden
            div.search-controls
                form
                    div.input
                        label(for="feature-search") Find a test (search by test title or feature title, for example &quot;aria&quot;)
                        input(id="feature-search" type="text").search
                    div.submit
                        button Search
            div.summary-container(tabindex="-1")
                span #{tests.length} results found
            div.search-results
                each test, currentTestIndex in tests
                    div(data-keywords=test.keywords_string).result
                        h2
                            a(href='/tests/'+testHelper.makeSafe(test.id)) #{test.title}
                        p last updated: #{test.last_update.date}
                        div.responsive-table.summary-matrix(tabindex="0")
                            each feature, currentFeatureIndex in testMap[test.id]
                                table
                                    caption #{feature.title} support summary
                                    thead
                                        tr
                                            th(id="t-"+currentTestIndex+"-expectation") Expectation
                                            th(id="t-"+currentTestIndex+"-sr-support") Screen Reader support
                                            th(id="t-"+currentTestIndex+"-vc-support") Voice Control support
                                    tbody
                                        each assertion, assertionIndex in test.assertions
                                            if (feature.featureId === assertion.feature_id)
                                                tr
                                                    th.assertion
                                                        a(href=testHelper.makeSafe(test.id)+"#assertion-"+ assertion.feature_id.replace('/', '-') + "-" + assertion.feature_assertion_id)
                                                            span #{testHelper.trimTechFromAssertion(assertion.assertion_title)}
                                                    td(class="support-case " + assertion.core_support_string.sr.class)
                                                            span #{assertion.core_support_string.sr.string}
                                                    td(class="support-case " + assertion.core_support_string.vc.class)
                                                        span #{assertion.core_support_string.vc.string}


            script(src="/js/search.js")
