extends layout
include test-case/assertion

block content
    div.content
        h1= 'Test: ' + test.title + ' ('+ATBrowsers.at[atId].title+'/'+ATBrowsers.browsers[browserId].title+')'

        if (test.assertion)
            p Assertion: #[+assertion(test.assertion)]

        ul
            li
                a(href="/tests/"+testIdHelper.makeSafe(test.id) class="back") Go back to the test
            li
                a(href="/tests/"+testIdHelper.makeSafe(test.id)+"/run") Run this test and and submit your results

        table
            caption Details
            thead
                tr
                    th Property
                    th Value
            tbody
                tr
                    th(scope="row") Support
                    td= test.results[atId].browsers[browserId].support_string
                tr
                    th(scope="row") AT Name
                    td
                        a(href="/learn/at/"+atId)=ATBrowsers.at[atId].title
                tr
                    th(scope="row") AT Version
                    td= test.results[atId].browsers[browserId].at_version
                tr
                    th(scope="row") Browser Name
                    td= ATBrowsers.browsers[browserId].title
                tr
                    th(scope="row") Browser Version
                    td= test.results[atId].browsers[browserId].browser_version
                tr
                    th(scope="row") OS version
                    td= test.results[atId].browsers[browserId].os_version
                tr
                    th(scope="row") Notes
                    td!= test.results[atId].browsers[browserId].notes ? md.render(test.results[atId].browsers[browserId].notes) : ''

        if test.results[atId].browsers[browserId].output
            h2 Commands and Output
            p These are specific commands used to access the target element in the test, along with the resulting output.
            table
                thead
                    tr
                        th Command
                        th Result
                        th Output
                tbody
                    each output in test.results[atId].browsers[browserId].output
                        tr
                            td=output.command + " (" + ATBrowsers.at[atId].commands[output.command].command + ")"
                            td=output.result
                            td=output.output

