extends layout

block content
    div.content
        div.search-container
            div.live-announcements(aria-live="polite" aria-atomic="true").visually-hidden
            div.search-controls
                form
                    div.input
                        label(for="feature-search") Find a test (search by test title or feature title, for example &quot;aria&quot;)
                        input(id="feature-search" type="text").search
                    div.submit
                        button Search
            div.summary-container(tabindex="-1")
                span #{tests.length} results found
            div.search-results
                each test, currentTestIndex in tests
                    div(data-keywords=test.keywords_string).result
                        h2
                            a(href='/tests/'+testHelper.makeSafe(test.id)) #{test.title}
                        p last updated: #{test.last_update.date}
                        div.responsive-table.summary-matrix(tabindex="0")
                            table
                                caption Support summary
                                thead
                                    tr
                                        th(id="t-"+currentTestIndex+"-expectation") Expectation
                                        th(id="t-"+currentTestIndex+"-sr-support") Screen Reader support
                                        th(id="t-"+currentTestIndex+"-vc-support") Voice Control support
                                each feature, currentFeatureIndex in testMap[test.id]
                                    tr
                                        th(colspan="3" id="h-feature-" + currentTestIndex + "-" + currentFeatureIndex).feature #{feature.title}

                                    each assertion, assertionIndex in test.assertions
                                        if (feature.featureId === assertion.feature_id)
                                            tr
                                                th(id="h-assertion-" + currentTestIndex + "-" + assertionIndex headers="h-feature-" + currentTestIndex + "-" + currentFeatureIndex+" t-"+currentTestIndex+"-expectation").assertion
                                                    a(href=testHelper.makeSafe(test.id)+"#assertion-"+ assertion.feature_id.replace('/', '-') + "-" + assertion.feature_assertion_id)
                                                        span #{testHelper.trimTechFromAssertion(assertion.assertion_title)}
                                                td(class="support-case " + assertion.core_support_string.sr.class headers="t-"+currentTestIndex+"-sr-support h-feature-" + currentTestIndex + "-" + currentFeatureIndex + " h-assertion-" + currentTestIndex + "-" + assertionIndex)
                                                        span #{assertion.core_support_string.sr.string}
                                                td(class="support-case " + assertion.core_support_string.vc.class headers="t-" + currentTestIndex + "-vc-support h-feature-" + currentTestIndex + "-" + currentFeatureIndex + " h-assertion-" + currentTestIndex + "-" + assertionIndex)
                                                    span #{assertion.core_support_string.vc.string}


            script(src="/js/search.js")
