mixin assertion(assertion)
    if assertion.title
        span #[strong #{assertion.title}] #[strong #{assertion.aspect}] is conveyed as #[strong "#{assertion.value}"]
    else
        span #[strong #{assertion.aspect}] is conveyed as #[strong "#{assertion.value}"]
