mixin assertion(assertion)
    if ['state', 'property'].includes(assertion.aspect)
        span #[strong #{assertion.title}] #[strong #{assertion.aspect}] is conveyed as #[strong "#{assertion.value}"]
    else if ['role', 'name', 'description'].includes(assertion.aspect)
        span #[strong #{assertion.aspect}] is conveyed as #[strong "#{assertion.value}"]
    else
        span #[strong "#{assertion.value}]"
